<ion-view view-title="create" nav-direction="forward">
    <ion-content class="centerHorizontal col-75 padding" style="top: 9%" scroll="false">
        <h1 class="themeColor">Update Profile</h1>
        <div class="list">
            <div style="text-align: left; padding: 15px 0px 5px 0px" ng-hide="hideEmail">Email:</div>
            <label class="item item-input" style="padding: 1px 0px 1px 10px" ng-hide="hideEmail">
                <input type="text" value="{{data.email}}" disabled="true">
            </label>

            <div style="text-align: left; padding: 15px 0px 5px 0px" ng-hide="hidePassword">Password:</div>
            <label class="item item-input" style="padding: 1px 0px 1px 10px" ng-hide="hidePassword">
                <input type="password" ng-model="data.password" ng-enter="create()">
            </label>

            <div style="text-align: left; padding: 15px 0px 5px 0px">First Name:</div>
            <label class="item item-input" style="padding: 1px 0px 1px 10px" >
                <input type="text" value="{{data.first_name}}" ng-model="data.first_name" ng-enter="create()">
            </label>

            <div style="text-align: left; padding: 15px 0px 5px 0px">Last Name:</div>
            <label class="item item-input" style="padding: 1px 0px 1px 10px">
                <input type="text" value="{{data.last_name}}" ng-model="data.last_name" ng-enter="create()">
            </label>

            <div style="text-align: left; padding: 15px 0px 5px 0px">Gender:</div>
            <label class="item item-input" style="padding: 1px 0px 1px 10px">
                <input type="text" value="{{data.gender}}" ng-model="data.gender" ng-enter="create()">
            </label>
        </div>
        <div style="color: #ff6ed5; text-align: center; margin-top: -10px">{{error}}</div>
        <button class="button-block button-theme" style="margin-top: 10px" ng-click="create()">Save</button>
    </ion-content>
</ion-view>