<ion-view view-title="create" nav-direction="forward">
    <ion-content class="centerHorizontal col-75 padding" style="top: 6%">
        <h1 class="themeColor" style="font-family: Nexa Bold;">Update Profile</h1>
        <div class="list">
            <div style="text-align: left; padding: 15px 0px 5px 0px" ng-hide="data.hideEmail">Email:</div>
            <label class="item item-input item-input3" style="padding: 1px 0px 10px 10px" ng-hide="data.hideEmail">
                <input type="text" style="font-size: 12px; color: #19c1ef; font-family: Century Gothic" value="{{data.email}}" disabled="true">
            </label>

            <div style="text-align: left; padding: 15px 0px 5px 0px" ng-hide="data.hidePassword">Password:</div>
            <label class="item item-input item-input3" style="padding: 1px 0px 10px 10px" ng-hide="data.hidePassword">
                <input type="password" style="font-size: 12px; color: #19c1ef; font-family: Century Gothic" ng-model="data.password" ng-enter="create()">
            </label>

            <div style="text-align: left; padding: 15px 0px 5px 0px; font-family: Nexa Light">First Name:</div>
            <label class="item item-input item-input3" style="padding: 1px 0px 10px 10px" >
                <input type="text" style="font-size: 12px; color: #19c1ef; font-family: Century Gothic" value="{{data.first_name}}" ng-model="data.first_name" ng-enter="create()">
            </label>

            <div style="text-align: left; padding: 15px 0px 5px 0px; font-family: Nexa Light">Last Name:</div>
            <label class="item item-input item-input3" style="padding: 1px 0px 10px 10px">
                <input type="text" style="font-size: 12px; color: #19c1ef; font-family: Century Gothic" value="{{data.last_name}}" ng-model="data.last_name" ng-enter="create()">
            </label>

            <div style="text-align: left; padding: 15px 0px 5px 0px; font-family: Nexa Light">Gender:</div>
            <label class="item item-input item-input3" style="padding: 1px 0px 10px 10px">
                <input type="text" style="font-size: 12px; color: #19c1ef; font-family: Century Gothic" value="{{data.gender}}" ng-model="data.gender" ng-enter="create()">
            </label>
        </div>
        <div class="themeColor" style="text-align: center; margin-top: -10px; font-family: Aller Light; font-size: 85%">{{data.error}}</div>
        <div>
            <div class="row" style="margin-top:10%">
                <div class="col"><button class="button-block button-theme" style="margin-top: 5%; max-width: 100%;" ng-click="createUser()">Save</button></div>
                <div class="col"><button class="button-block button-theme" style="margin-top: 5%; max-width: 100%;" ng-click="cancel()">Cancel</button></div>
            </div>
        </div>
    </ion-content>
</ion-view>