<ion-view view-title="items">
    <ion-header-bar class="title bar bar-header">
        <button class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="main"></button>
        <h1 class="title">Items</h1>
        <button class="button button-icon ion-plus" ng-click="addItem()"></button>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <ion-item collection-repeat="item in items">
                {{item.name}}
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteItem($index)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>