<ion-view>
    <div class="row" style="height: 10%; padding: 0px; margin-bottom: 0px;">
        <div class="container">
            <div class="div1" ng-click="main()"></div>
            <div class="div2"></div>
        </div>
    </div>

    <!-- body -->
    <div class="list" style="height: 70%; padding: 0px; margin: 0px;">
        <div style="margin-top: 25%;">
            <!-- logo -->
            <div>
                <h1 class="centerHorizontal themeColor wpcFont">LOGIN</h1>

                <div class="col col-offset-10 col-80" style="text-align: center;">
                    <p style="font-family: 'Aller'; color: #19bfef">Sign in here via your social media account to create/join a group!</p>
                </div>

            </div>

            <div class="row" style="margin-top: 25%; padding-top: 10%; padding-bottom: 5%; background-color: #19bfef">

                <div class="col-50" style="text-align: center; background-color: #19bfef" ng-click="loginFB()">
                    <div style=" width: 100%;">
                        <i class="ion ion-social-facebook" style="color: white; font-size: 5em;"></i><br><p style="font-family: 'Aller Light'; color: white">Facebook</p>
                    </div>
                </div>

                <div class="col-50" style="text-align: center; background-color: #19bfef" ng-click="loginFB()">
                    <div style="width: 100%;">
                        <i class="ion ion-social-googleplus" ng-click="loginGoogle()" style="color: white; font-size: 5em;"></i><br><p style="font-family: 'Aller Light'; color: white">Google+</p>
                    </div>
                </div>

            </div>


        </div>
    </div>
</ion-view>