<ion-view view-title="main" class="centerHorizontal" nav-direction="forward">

    <div class="row" style="height: 20%; padding: 0px; margin-bottom: 5px;" ui-sref="songs">
        <button class="mainButton ion-music-note" style="border-color: #01273c; background: #01273c; font-size: 300%; width: 45%;"></button>
        <button class="mainButton" style="border-color: #01273c; background: #01273c; width: 55%; font-size: 180%; text-align: left;">
            <span style="text-transform: uppercase; font-weight: 100;">Song List</span>
        </button>
    </div>
    <div class="row" style="height: 20%; padding: 0px; margin-bottom: 5px;">
        <button class="mainButton ion-person-stalker" style="border-color: #043172; background: #043172; font-size: 300%; width: 45%;"></button>
        <button class="mainButton" style="border-color: #043172; background: #043172; width: 55%; font-size: 180%; text-align: left;">
            <span style="text-transform: uppercase; font-weight: 100;">My Groups</span>
        </button>
    </div>
    <div class="row" style="height: 20%; padding: 0px; margin-bottom: 5px;">
        <button class="mainButton ion-chatbubbles" style="border-color: #005dbb; background: #005dbb; font-size: 300%; width: 45%;"></button>
        <button class="mainButton" style="border-color: #005dbb; background: #005dbb; width: 55%; font-size: 180%; text-align: left;">
            <span style="text-transform: uppercase; font-weight: 100;">Inbox</span>
        </button>
    </div>
    <div class="row" style="height: 20%; padding: 0px; margin-bottom: 5px;" ui-sref="myAccount">
        <button class="mainButton ion-gear-b" style="border-color: #19bfef; background: #19bfef; font-size: 300%; width: 45%;"></button>
        <button class="mainButton" style="border-color: #19bfef; background: #19bfef; width: 55%; font-size: 180%; text-align: left;">
            <span style="text-transform: uppercase; font-weight: 100;">My Account</span>
        </button>
    </div>
    <div class="row" style="height: 20%; padding: 0px; margin-bottom: 5px;" ui-sref="aboutWPC">
        <button class="mainButton ion-information-circled" style="border-color: #ffffff; background: #ffffff; color: #043172; font-size: 300%; width: 45%;"></button>
        <button class="mainButton" style="border-color: #ffffff; background: #ffffff; color: #043172; width: 55%; font-size: 180%; text-align: left;">
            <span style="text-transform: uppercase; font-weight: 100;">About WPC</span>
        </button>
    </div>
</ion-view>
