<ion-view view-title="main" class="centerHorizontal" nav-direction="forward">
    <div id="buttonColor1" ui-sref="songs"><i class="ion-music-note" font-size="10"> Songs</i></div>
    <div id="buttonColor2" ui-sref="groups"><i class="ion-person-stalker" font-size="10"> Groups</i></div>
    <div id="buttonColor3" ui-sref="requests"><i class="ion-chatbubbles" font-size="10"> Requests</i></div>
    <div id="buttonColor4" ui-sref="profile"><i class="ion-gear-b" font-size="10"> Settings</i></div>
    <div id="buttonColor5" ui-sref="about"><i class="ion-information" font-size="10"> About WPC</i></div>
</ion-view>