<ion-modal-view style="position: absolute; top: 25%; left: 10%; right:10%; background: #01273c; color: white; width: 80%; min-height: 30%;">
    <!-- cross -->
    <div class="row" style="height: 10%; margin-bottom: 5px;">
        <button class="col-10 col-offset-90 ion-close" style="background: none; border: none; color: white" ng-click="hide()"></button>
    </div>

    <!-- title & artist-->
    <div class="row" style="height: 20%; margin-bottom: 5px;">
        <div class="col col-80 col-offset-10" style="padding-bottom: 1%; height: 100%; text-align: center; font-size: 2em; padding-top: 8%; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: 'Aller Bold';">
            {{data.selectedSong.title}}
        </div>
    </div>
    <div class="row" style="height: 20%; margin-bottom: 5px;">
        <div class="col col-80 col-offset-10" style="padding-bottom: 10%; margin-top: -2%;  height: 100%; text-align: center; font-size: 1em; max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: Century Gothic;">
            {{data.selectedSong.artist}}<br><p style="font-size: 0.8em; font-family: 'Nexa Light'; font-style: italic">Song Key: {{data.selectedSong.key}}</p>
        </div>
    </div>

    <div class="row" style="height: 30%; padding-top: 0; background-color: white; margin-bottom: 5px;">
        <div class="col col-25" style="padding-top: 5%; text-align: center; color: #01273c; font-family: 'Calibri Light'; font-size: 0.8em"; ng-click="openSpotify()">
            <i class="icon-spotify" style="font-size: 2em; color: #01273c"></i><br>Spotify
        </div>
        <div class="col col-25" style="padding-top: 5%; text-align: center; color: #01273c; font-family: 'Calibri Light'; font-size: 0.8em"; ng-click="openItunes()">
            <i class="icon-iTunes" style="font-size: 2em; color: #01273c"></i><br>iTunes
        </div>
        <div class="col col-25" style="padding-top: 5%; text-align: center; color: #01273c; font-family: 'Calibri Light'; font-size: 0.8em"; ng-click="preview()">
            <i class="icon-preview" style="font-size: 2em; color: #01273c"></i><br>Preview
        </div>
        <div class="col col-25" style="padding-top: 5%; text-align: center; color: #01273c; font-family: 'Calibri Light'; font-size: 0.8em"; ng-show="data.downloaded"; ng-click="delete()">
            <i class="icon-delete" style="font-size: 2em;color: #01273c"></i><br>Delete
        </div>
    </div>

</ion-modal-view>