<ion-view view-title="voteSong" nav-transition="none">

    <!-- header bar -->
    <div class="row" style="height: 10%; padding: 0px; margin-bottom: 5px;">
        <div class="container">
            <div class="div1" ng-click="main()"></div>
            <div class="div2"></div>
        </div>
    </div>

    <!-- Vote Song - body -->
    <div class="row" style="position: relative; z-index: 2; height: 85%; padding: 0px; margin-bottom: 5px;">

    </div>

    <!-- footer nav bar -->
    <div class="row" style="height: 5%; padding: 0px; margin-bottom: 5px;">
        <button class="col accountInactiveTab" style="color: #bfbfbf" ui-sref="aboutWPC">
            About WPC
        </button>
        <button class="col accountActiveTab">
            Timeline
        </button>
        <button class="col accountInactiveTab" style="color: #bfbfbf" ui-sref="voteSong">
            Vote
        </button>
        <button class="col accountInactiveTab" style="color: #bfbfbf" ui-sref="feedback">
            Feedback
        </button>
    </div>
</ion-view>
