<ion-view view-title="upgrades" nav-transition="none">
    <!-- Upgrades - top bar -->
    <div class="row" style="height: 10%; padding: 0px; margin: 0px; background: #19BFEF;">
        <div class="container">
            <div class="div1" style="background: white;" ng-click="main()"></div>
            <div class="div2" style="background: #19BFEF;"></div>
        </div>
    </div>
    <!-- there's a pixel of white -->

    <!-- Upgrades - upper body -->
    <div class="list" style="height: 55%; padding: 0px; margin: 0px; text-align: center; background: #19BFEF;">
        <div class="row" style="width: 100%; padding: 10% 10%; padding-top: 25%; text-align: center;">
            <p style="width: 100%; padding: 0px; text-align: center; color: white; font-size: 125%;">
                <span style="font-size: 220%; font-weight: 900;"> WANT TO </span><br><br>
                Submit your recordings to<br>
                <b>WayPastCurfew</b> for review?<br><br>
                Upload <b>your own tracks</b> to share<br>
                with your group?<br><br>
                Prove that you're a huge fan of the<br>
                <b>WayPastCurfew experience</b>?
            </p>
        </div>
    </div>
    <!-- Upgrades - lower body -->
    <div class="row" style="height: 30%; padding: 0px; margin-bottom: 5px;">
        <button style="border: none; padding: 10%; width: 100%; background: white; color: #19BFEF; text-align: center;">
            <p style="font-size: 170%;">
                <span style="font-size: 90%;"><b>UPGRADE YOUR ACCOUNT</b></span><br>
                For $0.99!
            </p>
        </button>
    </div>

    <!-- footer nav bar -->

    <div class="row" style="height: 5%; padding: 0px; margin-bottom: 5px;">
        <button class="col accountInactiveTab" style="height: 100%; color: #bfbfbf" ui-sref="myAccount">
            My Account
        </button>
        <button class="col accountInactiveTab" style="height: 100%; color: #bfbfbf" ui-sref="voteSong">
            Vote Song
        </button>
        <button class="col accountInactiveTab" style="height: 100%; color: #bfbfbf" ui-sref="feedback">
            Feedback
        </button>
        <button class="col accountActiveTab" style="height: 100%">
            Upgrades
        </button>
    </div>

</ion-view>