<ion-modal-view style="position: absolute; top: 35%; left: 10%; right: 10%; background: #01273c; color: white; width: 80%; min-height: 30%;">
    <!-- cross -->
    <div class="row" style="height: 20%; margin:0; padding: 0;">
        <button class="col-20 col-offset-80 ion-close" style="background: none; border: none; padding: 5% 0%; color: white" ng-click="hide()"></button>
    </div>

    <!-- dead padding -->
    <div class="row" style="width: 100%; margin:0; padding: 5%;"></div>

    <!-- Message -->
    <div class="row" style="width: 100%; margin:0; padding: 5% 0%; display: inline-block; text-align: center;">
        <p style="font-family: 'Aller Bold'; font-size: 135%; text-align: center;">Thank you for voting!</p>
    </div>
</ion-modal-view>
